@font-face{font-family:"Corbel W10 Regular";src:url("//fast.fonts.net/dv2/2/53b52e8e-8a0e-429a-bde6-a51cd926f9a7.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4");src:url("//fast.fonts.net/dv2/2/53b52e8e-8a0e-429a-bde6-a51cd926f9a7.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4#iefix") format("embedded-opentype"),url("//fast.fonts.net/dv2/14/13ec8856-536a-4412-803c-83cb09c51b73.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4") format("woff2"),url("//fast.fonts.net/dv2/3/ba9270be-99b8-456a-89dc-102d94a40672.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4") format("woff"),url("//fast.fonts.net/dv2/1/bf4356f0-7fa2-4d6b-b5c4-213376596488.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4") format("truetype"),url("//fast.fonts.net/dv2/11/3047dd87-5f41-44cb-8ae8-37e3fa0e3502.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4#3047dd87-5f41-44cb-8ae8-37e3fa0e3502") format("svg");}

* {

    margin:0;
    padding:0;
    border:0;
    font-family:  'Corbel W10 Regular';
}

.clear{
    clear:both;
}

body{
    position:absolute;
    width:100%;
    height:100%;
}

#ngView {
    width:100%;
    height:100%;
}

/* Register */
#register{
    position:absolute;
    width:100%;
    height:100%;
    background:url('/static/i/register-bg.png') repeat;
}

#register .register-div{
    width:35%;
    background:#FFF;
    margin:auto;
    height:100%;
}
#register .register-div .close{
    width: 2vw;
    height:2vw;
    border-radius:1vw;
    float:right;
    margin:1vw;
    border:1px solid #95bcc4;
    color:#95bcc4;
    text-align:center;
    line-height:2vw;
}
#register .register-div .holder{
    top:10vw;
    position:relative;
}
#register .register-div input{
    width: 80%;
    margin:auto;
    display:block;
    height: 3vw;
    margin-bottom:1vw;
}
#register .register-div input[type=text], #register .register-div input[type=password]{
    border-bottom:1px solid #95bcc4;
}
#register .register-div select{
    width:80%;
    display:block;
    height:3vw;
    border:1px solid #95bcc4;
    color:#95bcc4;
    background:#FFF;
    border-radius:0.5vw;
    margin:0.5vw auto;
}
#register .register-div input[type=button]{
    width: 40%;
    height: 3vw;
    background: #a0c7ce;
    border-radius: 0.5vw;
    margin:auto;
    margin-top:2vw;
    cursor:pointer;
    display:block;
    color: #FFF;

}


/* Login */
#loginCtrl {
    width:100%;
    height:100%;
    background:#112f37;
}
#loginCtrl .left{
    float:left;
}
#loginCtrl .left h1{
    margin:auto;
    margin-top:5vw;
    text-align:center;
    color:#FFF;
}
#loginCtrl .left h2{
    margin:auto;
    text-align:center;
    color:#d2c9c0;
}
#loginCtrl .left h3{
    margin:auto;
    margin-top:1vw;
    text-align:center;
    color:#438f9d;
    font-size:2vw;
}

#loginCtrl .bar{
    width:35%;
    height:100%;
    background:#FFF;
    float:right;
    margin-right:8%;
}

#loginCtrl .bar .login-tab{
    width:80%;
    margin:auto;
    margin-top:40%;
}

#loginCtrl .bar .login-tab table{
    width:100%;
}

#loginCtrl .bar .login-tab table tr td input{
    color: #a0c7ce;
    width:100%;
    height: 3vw;
    margin-top:1vw;
    border-bottom:1px solid #a0c7ce;
    font-size: 1.5vw;
}

#loginCtrl .bar .login-tab table tr td input[type=button]{
    width: 9vw;
    height: 2.5vw;
    background: #a0c7ce;
    float: right;
    border-radius: 0.5vw;
    color: #FFF;

}
#loginCtrl .bar .register span{
    width:100%;
    height:2vw;
    display:block;
    font-size:1.5vw;
    text-align: center;
    margin:1vw 0;
}

#loginCtrl .bar .register input{
    width:60%;
    height:4vw;
    display:block;
    margin:auto;
    background: #438f9d;
    border-radius:1vw;
    color:#FFF;
}


/* Dashboard */

#dash-header{
    height:7vw;
    background: #438f9d;
}
#dash-header .left{
    margin-left:2vw;
    margin-top:1vw;
    width:5vw;
    height:5vw;
    border-radius:2.5vw;
    background:#000;
    float:left;
}
#dash-header .right{
    margin-right:2vw;
    margin-top:1vw;
    width:5vw;
    height:5vw;
    border-radius:2.5vw;
    background:#000;
    float:right;
}

/* Main */
#main .dashboard{
    width:60%;
    margin:auto;
    border:1px solid #000;
}

#main .dashboard .slice{
    float:left;
    margin:1%;
    background: #112f37;
    border-radius: 0.5vw;
    height: 20vw;
    cursor:pointer;
}
#main .dashboard .slice span{
    display:block;
    margin:auto;
    margin-top: 9vw;
    width:50%;
    font-size: 2vw;
    text-align: center;
    color: #d2c9c0;
}

#main .dashboard .slice1{
    width:28%;
}
#main .dashboard .slice1 span{
    width:60%;
}
#main .dashboard .slice2{
    width:68%;
}
#main .dashboard .slice3{
    width:98%;
}

#main .dashboard .slice3 span{
    margin-top:8vw;
}
#main .dashboard .slice3 span.no-nl{
    margin-top:0;
}


/*Propostas Redacao*/

#main .propostasRedacao .content{
    float:right;
    width:70%;
    
}
#main .propostasRedacao .content .item{
    height:auto;
    margin-bottom:1vw;
    color:#438f9d;
    color:#112f37;
}
#main .propostasRedacao .content .item .logo{
    width:8vw;
    height:8vw;
    border-radius:4vw;
    margin:1vw;
    background:#112f37;
    float:left;
}

#main .propostasRedacao .content .item h1{
    font-weight: normal;
}
#main .propostasRedacao .content .item .box{
    float:left;
    margin-top:2vw;
}
#main .propostasRedacao .content .item .box .category{
    color:#438f9d;
}
#main .propostasRedacao .content .item .box a{
    text-decoration:underline;
    color:#7d7d7d;
}

/* Corrigir Redacao */

#main .corrigirRedacao .content{
    float:right;
    width:55%;
    margin-right:15%;
}
#main .corrigirRedacao .content .wording-head{
    margin-top:3vw;
}
#main .corrigirRedacao .content .wording-head .left{
    float:left;
}
#main .corrigirRedacao .content .wording-head .left .logo{
    width:6vw;
    height:6vw;
    border-radius:3vw;
    background:#438f9d;
    background:#112f37;
    float:left;
}
#main .corrigirRedacao .content .wording-head .left .name{
    margin-top:2vw;
    margin-left:1vw;
    color:#112f37;
    font-weight:bold;
    float:right;
}
#main .corrigirRedacao .content .wording-head .right{
    float:right;
    margin-right:1vw;
    padding:0.3vw 1vw;
    color:#438f9d;
    border:1px solid #438f9d;
    border-radius:0.5vw;
    margin-top:1.5vw;
}
#main .corrigirRedacao .content .title{
    margin:3vw 0;
    color:#438f9d;
}
#main .corrigirRedacao .content .text{
    color:#7d7d7d;
    font-size:1.7vw;
}

#main .corrigirRedacao .content .aval table{
    width:100%;
}
#main .corrigirRedacao .content .aval table tr td{
}
#main .corrigirRedacao .content .aval table tr td.info{
    padding:1vw 0;
    text-align:right;
    color:#7d7d7d;
    width:30%;
}
#main .corrigirRedacao .content .aval table tr td.textarea{
    background:#eff3f5;
    min-height:100%;
    width:70%;
    margin-top:1vw;
}
#main .corrigirRedacao .content .aval table tr td.textarea textarea{
    background:#eff3f5;
    width:100%;
    min-height:8vw;
    padding:0.8vw;
}
#main .corrigirRedacao .content .aval .last td:first-of-type{
    text-align:right;
}
#main .corrigirRedacao .content .aval .last td select{
    padding: 0.3vw;
    border-radius: 0.4vw;
    background: #eff3f5;
}
#main .corrigirRedacao .content .aval input[type=button]{
    width: 9vw;
    height: 2.5vw;
    background: #a0c7ce;
    float: right;
    cursor:pointer;
    border-radius: 0.5vw;
    color: #FFF;

}

