<div class="register-div">
    <div class="close" ng-click="closeRegister()">x</div>
    <div class="msgs">
        <ul>
            <li class="created-success" ng-show="created.success">
            Cadastrado com sucesso!<br/>
            Lhe enviamos um e-mail de confirmação, por favor, verifique seu email.
            </li>
            <li ng-repeat="error in register_error.data" ng-show="register_error.data">{{error}}</li>
        </ul>
    </div>
    <div class="holder">
        <input ng-model="data.email" name="email" placeholder="Seu email" type="text" />
        <input ng-model="data.name" name="name" placeholder="Seu nome" type="text" />
        <input ng-model="data.passwd"  name="senha" placeholder="Senha" type="password" />
        <input ng-model="data.conf_passwd"  name="confsenha" placeholder="Confirmar Senha" type="password" />
        <input type="button" value="CADASTRAR" ng-click="cadastrar()"/>
    </div>
</div>
