<b style="color:rgb(147,196,125);font-family:tahoma,sans-serif;text-align:center;display:block">Você acabou de se cadastrar no Lyra! :D</b>
<br/>
<br/>
<div style="text-align:center">
    <font face="tahoma, sans-serif" color="#999999">
        <i>
            Estamos muito felizes em ter você por aqui, mas, para poder acessar
            <br>
            o site ainda precisamos que você confirme seu e-mail.</i>
    </font>
</div>
<div style="text-align:center">
    <i style="color:rgb(153,153,153);font-family:tahoma,sans-serif">
        Caso tenha dúvidas é só entrar em contato através do&nbsp;
    </i>
    <span style="color:rgb(153,153,153);font-family:tahoma,sans-serif">
        <a href="mailto:resumoportatil@gmail.com" target="_blank">resumoportatil@gmail.com</a>.
    </span>
</div>
<div>&nbsp;<br/></div>
<div style="width:18vw;height:4vw;border-radius:1vw;background:#00cb8f;margin:auto">
    <a style="text-decoration:none;" href="||LINK||" target="_blank"><span style="color:#FFF;font-family:tahoma,sans-serif;text-align:center;font-size:1vw;padding:0.5vw 0;display:block">
        Clique aqui para
        <br/>
        CONFIRMAR SEU EMAIL!
    </span></a>
</div>
