<div id="dash-header" ng-include="'/static/templates/partials/__header.html'"> </div>
<div id="dash-left-menu" ng-include="'/static/templates/partials/__left_menu.html'"> </div>
<div id="feedback" ng-include="'/static/templates/partials/__feedback.html'"> </div>
<div id="main">
    <div class="corrigirRedacao">
        <div class="sidebar"></div>
        <div class="content">
            <div class="text-holder">
                <div class="wording-head">
                    <div class="left">
                        <div class="logo">
                            <img ng-src="{{wording.written_by.image}}" />
                        </div>
                        <div class="name">{{wording.written_by.name}}</div>
                        <div class="date">{{wording.written_at}}</div>
                    </div>
                    <div class="right">
                        <span>{{wording.category.name}}</span>
                    </div>
                    <div class="clear"></div>
                </div>

                <h1 class="title">
                    {{wording.title}}
                </h1>

                <div class="text" ng-bind-html="wording.text">
                </div>
            </div><!--.text-holder-->

            <div class="aval">
                <table>
                    <tr ng-repeat="(topic_id,topic) in topics">
                            <td class="info">
                                {{topic}}
                            </td>
                            <td class="textarea">
                                <textarea ng-model="data[topic_id]" placeholder="Escreva aqui sua avaliação...."></textarea>
                            </td>
                    </tr>
                    <tr class="last">
                        <td>NOTA</td>
                        <td>
                            <select ng-model="data.score" name="nota" ng-options="option.id as option.name for option in scores">
                            </select>
                            <input type="button" value="ENVIAR" ng-click="enviar()"></input>
                        </td>
                    </tr>
                </table>
            </div><!--.aval-->
        </div><!--.content-->
    </div><!--.propostaRedacao-->
</div><!--.main-->
