<div id="dash-header" ng-include="'/static/templates/partials/__header.html'"> </div>
<div id="dash-left-menu" ng-include="'/static/templates/partials/__left_menu.html'"> </div>
<div id="feedback" ng-include="'/static/templates/partials/__feedback.html'"> </div>
<div id="main">
    <div class="dashboard lyra-content">
        <div class="written">
            <table>
                <thead>
                    <tr>
                        <td><h1>MINHAS REDAÇÕES</h1></td>
                        <td><h2>NOTAS</h2></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="cat"><span>sustentabilidade</span></div>
                            <span class="title">Como as energias renováveis podem auxiliar o desenvolvimento sustentável</span>
                        </td>
                        <td><span class="score">--,--</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="correction">
            <table>
                <thead>
                    <tr>
                        <td><h1>MINHAS AVALIAÇOẼS</h1></td>
                        <td><h2>NOTAS</h2></td>
                </thead>
            </table>
        </div>
    </div><!--.dashboard-->
</div><!--.main-->
