<div id="main">
    <div id="dash-header" ng-include="'/static/templates/partials/__header.html'"> </div>
    <div class="addRedacao">
        <select ng-model="data.category">
            <option value="{{category.id}}" ng-repeat="category in categorys">{{category.name}}</option>
        </select>
        <input ng-model="data.title" placeholder="title" />
        <textarea ng-model="data.text"></textarea>
        <input type="button" value="ENVIAR" ng-click="enviar()"/>
        <div class="clear"></div>
    </div><!--.dashboard-->
</div><!--.main-->
