<div id="main">
    <div id="dash-header" ng-include="'/static/templates/partials/__header.html'"> </div>
    <div class="addRedacao">
        <select ng-model="data.category" ng-options="cat.id as cat.name for cat in categorys">
            <option value="" disabled="true" selected="true">Selecione</option>
        </select>
        <input ng-model="data.title" placeholder="title" />
        <textarea ng-model="data.text"></textarea>
        <input type="button" value="ENVIAR" ng-click="enviar()"/>
        <div class="clear"></div>
    </div><!--.dashboard-->
</div><!--.main-->
