<div id="feedback" ng-include="'/static/templates/partials/__feedback.html'"> </div>
<div id="dash-header" ng-include="'/static/templates/partials/__header.html'"> </div>
<div id="dash-left-menu" ng-include="'/static/templates/partials/__left_menu.html'"> </div>
<div id="main">
    <div class="addRedacao">
    <ul class="errors" ng-show="errors.length">
        <li ng-repeat="error in errors">{{error}}</li>
    </ul>
        <select ng-model="data.category" ng-options="cat.id as cat.name for cat in categorys">
            <option value="" disabled="true" selected="true">Selecione</option>
        </select>
        <input ng-model="data.title" placeholder="title" />
        <div text-angular ng-model="data.text" name="demo-editor" ta-text-editor-class="clearfix border-around" ta-html-editor-class="border-around"></div>
        <!--textarea ng-model="data.text"></textarea-->
        <input type="button" value="ENVIAR" ng-click="enviar()"/>
        <div class="clear"></div>
    </div><!--.dashboard-->
</div><!--.main-->
<link rel="stylesheet" href="/static/c/bootstrap.min.css">
<link rel="stylesheet" href="/static/c/font-awesome.min.css">
